<h1 style="padding-left: 650px">LOGIN </h1>

<div style="padding-top:50px">
  
<div class="container" >
    <!-- <img src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=abstract-background-blur-255379.jpg&fm=jpg" style="width:100px"> -->
        <div class="form-group" style="padding-top:40px;">
          <label form ="name" >NAME</label>
          <input type="text" id="name" class="form-control" style="border-block-end-color:chartreuse">
        </div>

      
        <div class="form-group" style="padding-top:50px">
            <label form ="pwd" >PASSWORD</label>
            <input type="password" id="pwd" class="form-control" style="border-block-end-color:chartreuse">
        </div>
     <div  class="sub" style="padding-left:480px">
        
          <button class="btn btn-success" type="submit" >Login</button>
        </div>
       
      <div class="row">
          
          <button class="btn btn-link" style="padding-left:445px"> If not registered!Register</button>
        
        </div>
    
</div>
</div>
