
h1{
    color:rgb(235, 0, 215);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sub{
    padding-top: 25px;
}
.row{
    padding-top: 10px;
}
.form-group{
    font-size: 20px;
}
.container{
    size: 100px;
    background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=abstract-background-blur-255379.jpg&fm=jpg") 
    /*background-image: url("http://www.onlygfx.com/4-light-red-watercolor-splash-background-jpg/");*/

}


